<%= link_to "/fields/#{field.id}", class: "list-group-item game-li" do %>
  <% if field.guest_id == nil%>
    <span class="badge" id = "<%= field.id %>_field" >no guest</span>
  <% elsif field.is_finished %>
    <span class="badge">finished</span>
  <% elsif field.turn == player %>
    <span class="badge green-badge" id = "<%= field.id %>_field" >your turn</span>
  <% else %>
    <span class="badge red-badge" id = "<%= field.id %>_field" >waiting</span>
  <% end %>
  <%= field.name %>
<% end %>
