<%= render 'draw_field', :points => @field.points,
                         :field_id => @field.id,
                         :player => @player,
                         :enemy => @enemy,
                         :current_user => @current_user_id,
                         :captured_zones => @friendly_captured_zones,
                         :enemy_captured_zones => @enemy_captured_zones %>

<canvas id = "field" width = "400" height = "400"></canvas>

<%= link_to "Sign Out", destroy_user_session_path, :method => :delete %>
<%= link_to 'back to list', '/'%>
Current user: <%= @current_user_id %><br>
Enemy: <%= @enemy %><br>
Player: <%= @player %><br>
Player score: <div id = 'player_score'><%= @field.player_one_score %></div>
Enemy score: <div id = 'enemy_score'><%= @field.player_two_score %></div>
