<!DOCTYPE html>
<html>
  <head>
    <title>Points</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'fields/menu_drawer'%>
    <div class = 'main'>
      <div class = 'table'>
        <div class = 'table-cell'>
          <%= yield %>
        </div>
        <% if signed_in? %>
          <div class = 'table-cell'>
            <%= render 'fields/menu' %>
          </div>
        <% end %>
    </div>
  </body>
</html>
